<div class="row">
  <div class="col">filtrar por nombre<br><input placeholder="Introduce el nombre de la asignatura"></div>
  <div class="col">filtrar por ciclo<br><input placeholder="introduce el nombre del ciclo"></div>
  <div class="col">filtrar por conocimiento<br><input placeholder="Introduce el nombre del conocimiento"></div>
</div>
<br>
<div class="row">
  <a class="btn btn-primary btn-lg" href="#" role="button">Filtrar</a>
</div>

<h2>Los resultados de busqueda son</h2>
<!-- NG FOR SOBRE DATOS DE ASIGNATURAS (SERVICIO) -->

<div class="row">
  <div class="col" *ngFor="let item of asignaturasPintar">
    <!-- repetido tantas veces como elementos tenga asignaturasPintar -->
    <app-asignatura [asignatura]="item"></app-asignatura>
  </div>
</div>
