<h2>Los ciclos tecnologicos son:</h2>
<div class="row">
  <div class="col">
    <h2>DAM</h2>
    <h5>Asignaturas:</h5>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of ciclosPintarDam">
        {{item.nombre}}
  
      </li>
  </ul>
  </div>
  <div class="col">
    <h2>DAW</h2>
    <h5>Asignaturas:</h5>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of ciclosPintarDaw">
        {{item.nombre}}
  
      </li>
  </ul>
  </div>
  <div class="row">
    <div class="col" *ngFor="let item of ciclosTotal">
      <div class="card" style="width: 16rem">
        <div class="card-body">
          <img [src]="item.imagen" class="card-img-top" alt="..." style="width: 12rem; height: 12rem;" />
          <h5 class="card-title">{{item.nombre}} {{item.curso}}</h5>
          <p class="card-text">
            <a class="btn btn-primary btn-lg" href="#" role="button">Detalle</a>
            
            <br>
            
            <br>
            
            <br>
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>





     

