<div>
  <h1 class="display-4">
    Grados tecnicos Ces Juan Pablo II
  </h1>
  <p class="lead">
    Aplicacion web creada por Adrian Lopez para el ciclo de desarrollo de Aplicaciones Multiplataforma
  </p>
  <hr class="my-4" />
<p>Aplicacion realizada para el modulo de DI,hecha en ANGULAR que consta de:</p>
  <ul class="list-group">
    <li class="list-group-item">Componente home: representa la entrega inicial de la aplicacion</li>
    <li class="list-group-item">Componente Ciclos: representa tantas cartas como ciclos existan en el CiclosService</li>
    <li class="list-group-item">Componente Asignaturas: representa tantas cartas como asignaturas haya en el servicio AsignaturaService. Adicionalmente se cuenta con un filtro para poder ver asignaturas específicas</li>
    <li class="list-group-item">Componente Asignatura: representa el aspecto que tendrá una carta de las de arriba mencionadas</li>
    <li class="list-group-item">Componente DetalleCiclo: representa el detalle de un ciclo,donde se mostrarán los conocimientos necesarios para poder aprobar el ciclo y todas las asignaturas que lo componen</li>
    <li class="list-group-item">
        Componente NavBar: representa la barra de navegacion superior donde se muestra un menu con las siguientes posibilidades:
        <ul>
            <li>Inicio: Llevará al componente Home</li>
            <li>Ciclos: Llevará al componente Ciclos</li>
            <li>Asignaturas: Llevará al componente Asignaturas</li>
        </ul>
    </li>
    <li class="list-group-item">Servicios: se debera crear al menos dos servicios que provean de datos tanto para los ciclos como para las asignaturas(hecho)</li>
    <li class="list-group-item">Pipes: se deberá crear al menos dos directivas personalizada que realice alguna transformacion en la aplicacion(No hecho)</li>
</ul>
<br>
<br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.cesjuanpablosegundo.es/" role="button">Ir a la web</a>
  </p>
</div>
